<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Pembayaran - Codashop</title>
</head>

<body>
    <%- include('../layouts/none.ejs'); %>
    <%- include('../layouts/navbar.ejs'); %>

    <div class="site-main" onclick="closeLeftMenu()">

        <!--  -->
        <div class="single-product py-5">
            <div class="container">
                <div class="row g-0 bg-white cbm-section-shadow rounded-3">
                    <div class="col-md-7 col-lg-8 border-end p-5 order-payment-info-section">
                        <div class="payment-notice-top text-center">
                            <% if (locals.id) { %>
                            <h5 class="fw-600"><b>Pembayaran </b><b class="text-primary">#<%= id %></b></h5>
                            <% } %>
                            <p>Pastikan anda melakukan pembayaran sebelum melewati batas</p>
                            <p>pembayaran dan dengan nominal yang tepat</p>

                        </div>
                        <div id="total-bill" class="text-center bank_transfer">
                            <div class="total-bill-price">
                                <% if (locals.price) { %>
                                <div class="amount-bill-price d-flex align-items-center"
                                    style="justify-content: center!important;">
                                    <b>Rp<%= price %> </b>
                                </div>
                                <% } %>
                                <!-- <h5 style="color: red;"><b>Harap transfer sampai 3 digit terakhir!</b></h5> -->


                            </div>
                        </div>
                        <div class="list-group list-group-flush">
                            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                <div class="d-flex gap-2 w-100 justify-content-between align-items-center">
                                    <h6 class="mb-0 text-muted">Nomor Transaksi</h6>
                                    <% if (locals.id) { %>
                                    <p class="mb-0 fw-600">#<%= id %></p>
                                    <% } %>
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                <div class="d-flex gap-2 w-100 justify-content-between align-items-center">
                                    <h6 class="mb-0 text-muted">Status Pembayaran</h6>
                                    <% if (locals.stat_pembayaran) { %>
                                    <p class="mb-0 badge text-wrap" style="color: black;">
                                        <%= stat_pembayaran %></p>
                                    <% } %>
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                <div class="d-flex gap-2 w-100 justify-content-between align-items-center">
                                    <h6 class="mb-0 text-muted">Status Transaksi</h6>
                                    <% if (locals.stat_transaksi) { %>
                                    <p class="mb-0 badge text-wrap" style="color: black;">
                                        <%= stat_transaksi %> </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="payment-gateway-detail">
                                <% if (locals.gambar) { %>
                                <div class="mb-3" id="countdown-container">
                                    <div class="text-center">
                                        <div class="title-countdown"><b>Batas Waktu Pembayaran</b></div>
                                        <b class="countdown fs-4 text-primary" id="countdown"></b>
                                    </div>
                                </div>
                                <div class="mb-3" id="countdown-container">
                                    <form action="/sale/pembayaran" method="post" enctype="multipart/form-data">
                                        <div class="text-center">
                                            <label for="Image" class="form-label"><b>Upload Bukti Pembayaran</b></label>
                                            <input class="form-control" type="file" id="formFile" name="image"
                                                accept="image/jpeg,image/jpg,image/png">
                                            <br>
                                            <input type="submit" class="btn btn-primary"
                                                onclick="return payValidation();"></input>
                                        </div>
                                    </form>
                                </div>
                                <% } else { %>
                                <br><br>
                                <% } %>
                                <div class="list-group mb-0">
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between align-items-center">
                                            <h6 class="mb-0 text-muted">Total Pembayaran</h6>
                                            <% if (locals.total) { %>
                                            <p class="mb-0">Rp<%= total %></p>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between align-items-center">
                                            <h6 class="mb-0 text-muted">Biaya Layanan</h6>
                                            <% if (locals.biaya_layanan) { %>
                                            <p class="mb-0"> Rp.<%= biaya_layanan %> </p>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between align-items-center">
                                            <h6 class="mb-0 text-muted">Metode Pembayaran</h6>
                                            <div class="mb-0 text-right">
                                                <div class="d-flex flex-row align-items-center">
                                                    <% if (locals.metode_img) { %>
                                                    <div class="me-2"><img
                                                            src="../../assets/images/payment/<%= metode_img %>"
                                                            width="auto" height="15px" /></div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <% if (locals.tagihan) { %>
                                            <h6 class="mb-0 text-muted"><%= tagihan %></h6>
                                            <% } %>
                                            <% if (locals.norek) { %>
                                            <p class="mb-0">
                                                <b><%= norek %></b>
                                            </p>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <h6 class="mb-0 text-muted">Atas Nama</h6>
                                            <p class="mb-0">
                                                ASEP DARMAWAN </p>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <h6 class="mb-0 text-muted">Cabang</h6>
                                            <% if (locals.norek) { %>
                                            <p class="mb-0"><%= cabang %></p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <div class="d-flex gap-3 align-items-center" style="justify-content: left!important;">
                                    <% if (locals.logoGame) { %>
                                    <div class="thumbnail-product">
                                        <img src="assets/images/game/<%= logoGame %>" alt="" class="rounded-3"
                                            height="100px">
                                    </div>
                                    <% } %>
                                    <div class="product-data">
                                        <% if (locals.category) { %>
                                        <h1 class="fs-5 mb-1"><b><%= category %></b></h1>
                                        <% } %>
                                        <!-- <% if (locals.publisher) { %>
                                        <div class="fs-6 text-muted"><%= publisher %></div> -->
                                        <% } %>
                                    </div>
                                </div>
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <div>
                                                <h6 class="mb-0 text-muted">User ID</h6>
                                                <% if (locals.user_id) { %>
                                                <p class="mb-0"><%= user_id %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <div>

                                                <h6 class="mb-0 text-muted">Item</h6>
                                                <% if (locals.product) { %>
                                                <p class="mb-0"><%= product %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <div>
                                                <h6 class="mb-0 text-muted">Waktu Pemesanan</h6>
                                                <% if (locals.date) { %>
                                                <p class="mb-0"><%= date %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top pt-4 need-help-section">
                                    <h6><strong><i class="fas fa-headset"></i> Butuh Bantuan?</strong></h6>
                                    <p style="font-size: 0.9rem; ">Apabila anda membutuhkan
                                        bantuan terkait hal apapun,
                                        silahkan hubungi <a href="https://wa.me/6283123658885" target="_blank"
                                            style="text-decoration: none;color: #0d6efd;">Customer Support kami via
                                            WhatsApp</a> atau kirim email ke <a href="mailto:codashop@gmail.com"
                                            style="text-decoration: none;color: #0d6efd;"><span>codashop@gmail.com</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var distance = 86399000;
            var x = setInterval(function () {
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("countdown").innerHTML = hours + " jam " +
                    minutes + " menit " + seconds + " detik ";

                console.log(hours + "h " +
                    minutes + "m " + seconds + "s ");

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "EXPIRED";
                }
                distance = distance - 1000;
            }, 1000);

            function payValidation() {
                if (document.getElementById('formFile').value == "") {
                    alert("Upload Bukti pembayaran!");
                    document.getElementById('formFile').focus();
                    return false;
                }
            }
        </script>
    </div>
    <br><br>


    <%- include('../layouts/footer.ejs'); %>
    <script src="assets/js/button.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>